Backend/node_modules/
Backend/.m2/
Backend/target/
Backend/backend-run.log
Backend/backend-run.err.log
Small_Aldo/node_modules/
IA_Python/__pycache__/
Backend/uploads/
Checklist_equipamentos/dist/
*.log

node_modules


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
